{% extends 'main/base.html' %}
{% load static %}

{% block header %}
    <title>Портфоліо Артема</title>
    <link rel="stylesheet" href="{% static 'artem/css/style.css' %}">
{% endblock %}

{% block content %}
    <h1 class="theme-title">Освіта у WorldIT</h1>
    <center><p>Мене звати Артем, мені 17 років і я навчався у WorldIT. WorldIT це чудовий курс який дав мені базу знань у таких мовах програмування як Python та JavaScript!</p></center>
    <center><p>За час навчання я познайомився з багатьма дуже чудовими людьми які допомогли мені у навчанні та з груповими проектами у яких я отримав чудовий досвід роботи з командою!</p></center>
    <h1 class="theme-title">Освіта у Школі</h1>
    <center><p>Якщо згадати про навчання у школі, то я успішно закінчив 11 класів у школі міста Дніпро з дуже гарними оцінками, отримав базу знань яка буде супроводжувати мене все моє майбутнє життя і я цьому дуже вдячний.</p></center>
    {% comment %} <figure>
        <center>
            <p><img src="{% static 'max/img/school.jpg' %}" alt="Image of the school">
            <figcaption>Подвір'я школи "КЗО СЗШ №112 ДМР"</figcaption>
        </center>
    </figure> {% endcomment %}
    <h1 class="theme-title">Хобі</h1>
    <center><p>Про себе можу сказати що я полюбляю програмування та все що зв'язано з комп'ютерами так як я ще з самого малечку цікавився цим, займаюсь спортом та полюбляю фотографувати.</p></center>
    
    <h1 class="theme-title">Досягнення у програмуванні</h1>
    <center><p>Мені є що сказати з цього приводу, бо паралельно з навчанням у WorldIT де я отримав дуже гарну базу знань по мовам програмування Python та JavaScript, я навчався самостійно та працював з такими мовами програмування як Matlab, Go, Lua, Object Pascal, C++, C#, Java, Ruby, Rust та Haskell. З цих мов програмування я знаю на доволі непоганому для себе рівні я знайом з чотирма мовами із мого списку: C#, Java, Rust, Object Pascal. </p></center>

    <h1 class="theme-title">Розробка ігор на ПК та мобільні пристрої</h1>
    <center><p>Хотів би написати про свій досвід у розробці ігор на ПК та мобільні пристрої використовуючі такі ігрові рушії як Unreal Engine 4 та 5, Unity і Godot. Я використовував всі 3 ігрові рушія, але працював в основному лише з одним - Godot, у нього доволі багато переваг над рушієм Unitу та він набагато легший за Unreal Engine. З проектів які я написав - доволі багато простих 2д платформерів на яких я вчився використовувати ігровий рушій та дізнавався про різні його можливості. Наразі у розробці 2д rogue-подібна гра в офісному сетингу  </p></center>
    {% comment %} <figure>
        <center>
            <p><img src="{% static 'max/img/college.jpg' %}" alt="Image of the college">
            <figcaption>Подвір'я "Ракетно-космічного Коледжу"</figcaption>
        </center>
    </figure> {% endcomment %}
    <h1 class="theme-title">Чим займаєтесь у вільний час</h1>
    <center><p>У вільний від курсів час я відпочиваю, навчаюсь програмуванню, подорожую, читаю книжки та намагаюсь саморозвиватись.</p></center>    


{% endblock %}