{% extends 'main/base.html' %}
{% load static %}

{% block header %}
    <title>Портфоліо Єгора</title>
    <link rel="stylesheet" href="{% static 'taisia/css/style.css' %}">
{% endblock %}

{% block content %}
    <h1 class="theme-title">Привіт, читачу!</h1>
    <center><p>Мене звати Єгор, мені 14 років, і моє захоплення - програмування. На цій сторінці ти зможеш ознайомитись з моєю краткою біографією.</p></center>
    
    <h1 class="theme-title">Освіта</h1>
    <center><p>З першого по сьомий клас я дуже добре вчився в КЗО "СЗШ №80" ДМР. Зараз я вчуся в Науковому ліцеї міжнародних відносин ІІ – ІІІ ступенів Університету митної справи та фінансів. </p></center>
    
    <h1 class="theme-title">Хобі</h1>
    <center><p>Моє хобі поєднує в собі різноманітні аспекти, які сприяють особистому росту. Програмування дозволяє мені творити й вдосконалювати, гулянки з друзями збагачують соціальне спілкування, а спорт утримує мене у формі та надає енергію. На останню роль відіграють бальні танці, де я вже протягом 9 років майструю у танцювальному мистецтві, що сприяє грації та естетичній гармонії. Це чудове поєднання, яке розкриває мою багатосторонність та талант.</p></center>
    
    <h1 class="theme-title">Досягнення в програмування</h1>
    <center><p>Мені є, що сказати про це, так як я зараз вчуся на третьому курсі в WorldIT і за ці три роки я брав участь у багатьох проектах. Я брав участь в 2 проектах над розробкою ігор, де був в якості кодера. Ще створювала разом з командою міні проекти, за типом калькулятора, редактора зображення, mp3 плеєра ітд.</p></center>
    

{% endblock %}