{% extends 'main/base.html' %}
{% load static %}

{% block header %}
    <title>Портфоліо Максима</title>
    <link rel="stylesheet" href="{% static 'max/css/style.css' %}">
{% endblock %}

{% block content %}
    <h1 class="theme-title">Вступ</h1>
    <center><p>Вітання, мене звати Максим, мені 16 років, і моє захоплення - програмування. На цій сторінці ви маєте змогу дізнатися мій життевий шлях, ознайомившись із краткою біографією.</p></center>
    
    <h1 class="theme-title">Освіта</h1>
    <center><p>Свою навчальну подорож я почав бувши ще малюком у 2013 році, коли пішов до першого класу середньої школи "КЗО СЗШ №112 ДМР". В цьому навчальному закладі як і більшість школярів - закінчив дев'ять класів, в слід чого отримав багаж знань і розуміння ким хочу стати у найближчому майбутньому, й саме через це, віришив складати іспит до коледжу, а не продоважувати навчання в 10, 11 класах.</p></center>
    
    <figure>
        <center>
            <p><img src="{% static 'max/img/school.jpg' %}" alt="Image of the school">
            <figcaption>Подвір'я школи "КЗО СЗШ №112 ДМР"</figcaption>
        </center>
    </figure>

    <center><p>Після закінчення школи, віришів навчатися за бажаною спеціальністю, тому склав вступний екзамен до фахового ракетно-космічного коледжу Дніпровського національного універсітету імені Олеся Гончара, де саме на цей час продовжую навчання й отримання освіти.</p></center>
    
    <figure>
        <center>
            <p><img src="{% static 'max/img/college.jpg' %}" alt="Image of the college">
            <figcaption>Подвір'я "Ракетно-космічного Коледжу"</figcaption>
        </center>
    </figure>
    
    <h1 class="theme-title">Досягнення в програмуванні</h1>
    <center><p>Коли я був ще школярем, друг познайомив мене з мовою програмування Python, і мені настільки сподобалось, що я почав активно цікавитись програмуванням і вирішив попрохати батьків записати мене на курси. Моє навчання на курсах з МП Python продовжується навіть до цього часу, в слід чого я встиг здобути компетентні знання з цієї мови. Але не тільки Python зустрівся на моєму шляху програміста. З недавнього часу, я почав цікавитися такою мовою програмування котра зветься "Сі", і на відзнаку від Python'a, є низькорівневою, і саме через це дає змогу програмісту більш точно керувати системними процесами тощо.</p></center>

    <h1 class="theme-title">Хобі</h1>
    <center><p>Не враховуючи зацікавленість до програмування, мені дуже подобається розв'язувати задачі з таких точних наук як Математика та Фізика, навіть не під час навчання. Я можу раптом сісти та почати роздумувати над розв'язанням якоїсь задачі, котру побачив в інтернеті, проявивши до неї інтерес. Іноді граю в стратегічні ігри такі як шахи або шашки.</p></center>

    <h1 class="theme-title">Дозвілля</h1>
    <center><p>У вільний час я переважно займаюсь спортом разом із найкращим другом. Найчастіше за все, ми вирушаємо на довгі прогулянки та проводимо тренування на тренажерах. Для мене важливо, щоб, крім здравого розсуду, був і здоровий фізичний стан.</p></center>

    <h1 class="theme-title" style="margin-bottom: 30px;">Дякую за увагу!</h1>

{% endblock %}