{% extends 'main/base.html' %}
{% load static %}

{% block header %}
    <title>Портфоліо Таїсії</title>
    <link rel="stylesheet" href="{% static 'taisia/css/style.css' %}">
{% endblock %}

{% block content %}
    <h1 class="theme-title">Привіт, читачу!</h1>
    <center><p>Я - Таїсія, мені 14 років, і моє захоплення - програмування. На цій сторінці ти зможеш ознайомитись з моєю краткою біографією.</p></center>
    
    <h1 class="theme-title">Освіта</h1>
    <center><p>Я закінчила 6 класів української та 8 клас польської школи, всі класи закінчила з відзнакою. 7 клас пройшла екстерном, що дозволило на 1 рік раніше закінчити школу. Зараз я навчаюся на 1 курсі в технікумі своєї мрії.</p></center>
    
    <h1 class="theme-title">Хобі</h1>
    <center><p>У мене досить багато захоплень, але тут напишу про найулюбленіших, це програмування, малювання і музика. Програмуванням я захоплююся вже більше 3 років, малюванням майже 10 років, а ось музика мені сподобалася тільки недавно, тому в цьому році я пішла на курси з гри на електрогітарі. Хоча любила слухати музику ще з малих років:)) так само іноді люблю почитати і вирішити кілька задач з вищ мату та атомної і квантової фізики.</p></center>
    
    <h1 class="theme-title">Досягнення в програмування</h1>
    <center><p>Мені є, що сказати про це, так як я зараз вчуся на третьому курсі в WorldIT і за ці три роки я брала участь у багатьох проектах. Я брала участь в 2 проектах над розробкою ігор, де була в якості як і дизайнера, так і програмістом. Ще створювала разом з командою міні проекти, за типом калькулятора, редактора зображення, mp3 плеєра ітд.</p></center>
    

{% endblock %}